@import "variables";

%base-btn { // shared by all buttons
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.02em;
}

@mixin default-btn($btn-color) {
  font-size: $btn-font-size;
  transition: $primary-transition;
  background: $btn-color;
  color: $btn-text-color;
  border-top: $btn-color;
  border-right: $btn-color;
  border-bottom: $btn-color;
  border-left: $btn-color;


  i {
    color: $btn-text-color;
    margin-left: 8px;
  }

  &:not([disabled]):hover {
    background: darken($btn-color, 9.6%);
    cursor: pointer;
  }

  &:not([disabled]):focus {
    border-width: 1px;
    border-color: darken($btn-color, 19.2%);
    background: darken($btn-color, 19.2%);
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 4px darken($btn-color, 19.2%);
  }

  &:not([disabled]):hover:active {
    background: darken($btn-color, 19.2%);
  }

  &:disabled {
    background: lighten($btn-color, 38.2%);

    cursor: not-allowed;
  }
}

@mixin secondary-btn($btn-color) {
  border-radius: $btn-corner-radius;
  font-size: $btn-font-size;
  transition: $primary-transition;
  background: $btn-color;
  color: $btn-color;
  border-top: $btn-color;
  border-right: $btn-color;
  border-bottom: $btn-color;
  border-left: $btn-color;

  i {
    color: $btn-color;
    margin-left: 8px;
  }

  &:not([disabled]):hover {
    color: darken($btn-color, 9.6%);
    border-color: darken($btn-color, 9.6%);

    background: lighten($btn-color, 47%);
    cursor: pointer;

    i {
      color: darken($btn-color, 9.6%);
    }
  }

  &:not([disabled]):focus {
    border-width: 1px;
    border-color: darken($btn-color, 9.6%);

    background: lighten($btn-color, 69.2%);
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 4px darken($btn-color, 9.6%);
  }

  &:not([disabled]):hover:active {
    background: lighten($btn-color, 49.2%);
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 4px darken($btn-color, 19.2%);
  }

  &:disabled {
    background: lighten($btn-color, 48.2%);
    color: lighten($btn-color, 30.2%);
    border-color: lighten($btn-color, 30.2%);

    cursor: not-allowed;

    i {
      color: lighten($btn-color, 30.2%);
    }

  }

  background: #FFFFFF;
  outline: 1px solid $btn-color;
  outline-offset: -1px;
  border-color: $btn-color;

}

@mixin tertiary-btn($btn-color) {
  border-radius: 0;
  font-size: $btn-font-size;
  transition: $primary-transition;
  background: #fff0;
  color: $btn-color;
  border-top: $btn-color;
  border-right: $btn-color;
  border-bottom: $btn-color;
  border-left: $btn-color;

  i {
    color: $btn-color;
    margin-left: 8px;
  }

  &:not([disabled]):hover {
    color: darken($btn-color, 19.2%);
    cursor: pointer;

    i {
      color: darken($btn-color, 19.2%);
    }
  }

  &:not([disabled]):focus {
    border-width: 1px;
    border-color: darken($btn-color, 9.6%);
    outline: 1px solid darken($btn-color, 9.6%);
    outline-offset: -1px;
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 4px darken($btn-color, 9.6%);
  }

  &:not([disabled]):hover:active {
    box-shadow: 0 0 0 2px $body-bg-color, 0 0 0 4px darken($btn-color, 19.2%);
  }

  &:disabled {
    color: lighten($btn-color, 30.2%);
    cursor: not-allowed;

    i {
      color: lighten($btn-color, 30.2%);
    }
  }

  border-color: $btn-color;

}

.s-btn-primary {
  @extend %base-btn;
  @include default-btn($btn-color);
  min-height: $btn-height;
  padding: $btn-padding;
  border-radius: $btn-corner-radius;
  font-size: $btn-font-size;
  line-height: $btn-line-height;

  i {
    font-size: $btn-icon-size;
  }
}

.s-btn-secondary {
  @extend %base-btn;
  @include secondary-btn($btn-color);
  min-height: $btn-height;
  padding: $btn-padding;
  border-radius: $btn-corner-radius;
  font-size: $btn-font-size;
  line-height: $btn-line-height;

  i {
    font-size: $btn-icon-size;
  }
}

.s-btn-tertiary {
  @extend %base-btn;
  @include tertiary-btn($btn-color);
  min-height: $btn-height;
  padding: $btn-padding;
  border-radius: $btn-corner-radius;
  font-size: $btn-font-size;
  line-height: $btn-line-height;

  i {
    font-size: $btn-icon-size;
  }
}

.s-btn-primary-sm {
  @extend %base-btn;
  @include default-btn($btn-color);
  min-height: $btn-sm-height;
  padding: $btn-sm-padding;
  border-radius: $btn-sm-corner-radius;
  line-height: $btn-sm-line-height;
  font-size: $btn-sm-font-size;

  i {
    font-size: $btn-sm-icon-size;
  }
}

.s-btn-secondary-sm {
  @extend %base-btn;
  @include secondary-btn($btn-color);
  min-height: $btn-sm-height;
  padding: $btn-sm-padding;
  border-radius: $btn-sm-corner-radius;
  line-height: $btn-sm-line-height;
  font-size: $btn-sm-font-size;

  i {
    font-size: $btn-sm-icon-size;
  }
}

.s-btn-tertiary-sm {
  @extend %base-btn;
  @include tertiary-btn($btn-color);
  min-height: $btn-sm-height;
  padding: $btn-sm-padding;
  border-radius: $btn-sm-corner-radius;
  line-height: $btn-sm-line-height;
  font-size: $btn-sm-font-size;

  i {
    font-size: $btn-sm-icon-size;
  }
}

.s-btn-primary-l {
  @extend %base-btn;
  @include default-btn($btn-color);
  min-height: $btn-l-height;
  padding: $btn-l-padding;
  border-radius: $btn-l-corner-radius;
  line-height: $btn-l-line-height;
  font-size: $btn-l-font-size;

  i {
    font-size: $btn-l-icon-size;
  }
}

.s-btn-secondary-l {
  @extend %base-btn;
  @include secondary-btn($btn-color);
  min-height: $btn-l-height;
  padding: $btn-l-padding;
  border-radius: $btn-l-corner-radius;
  font-size: $btn-l-font-size;
  line-height: $btn-l-line-height;

  i {
    font-size: $btn-l-icon-size;
  }
}

.s-btn-tertiary-l {
  @extend %base-btn;
  @include tertiary-btn($btn-color);
  min-height: $btn-l-height;
  padding: $btn-l-padding;
  border-radius: $btn-l-corner-radius;
  font-size: $btn-l-font-size;
  line-height: $btn-l-line-height;

  i {
    font-size: $btn-l-icon-size;
  }
}


.s-btn-primary.danger {
  @extend %base-btn;
  @include default-btn($danger);

  &:disabled {
    background: lighten($danger, 18.2%);
  }
}

.s-btn-primary-l.danger {
  @extend %base-btn;
  @include default-btn($danger);
  font-size: $btn-l-font-size;

  &:disabled {
    background: lighten($danger, 18.2%);
  }
}

.s-btn-primary-sm.danger {
  @extend %base-btn;
  @include default-btn($danger);

  &:disabled {
    background: lighten($danger, 18.2%);
  }
}

.s-btn-secondary.danger {
  @extend %base-btn;
  @include secondary-btn($danger);

  &:not([disabled]):hover {
    background: lighten($danger, 43%);
    cursor: pointer;
  }

  &:disabled {
    color: lighten($danger, 10.2%);
    border-color: lighten($danger, 40.2%);
    i {
      color: lighten($danger, 10.2%);
    }
  }
}

.s-btn-secondary-l.danger {
  @extend %base-btn;
  @include secondary-btn($danger);
  font-size: $btn-l-font-size;

  &:not([disabled]):hover {
    background: lighten($danger, 43%);
    cursor: pointer;
  }


  &:disabled {
    color: lighten($danger, 10.2%);
    i {
      color: lighten($danger, 10.2%);
    }
  }
}

.s-btn-secondary-sm.danger {
  @extend %base-btn;
  @include secondary-btn($danger);

  &:not([disabled]):hover {
    background: lighten($danger, 43%);
    cursor: pointer;
  }
  &:disabled {
    color: lighten($danger, 10.2%);
    i {
      color: lighten($danger, 10.2%);
    }
  }
}

.s-btn-tertiary.danger {
  @extend %base-btn;
  @include tertiary-btn($danger);

  &:not([disabled]):focus {
    border-radius: 4px;
  }

  &:disabled {
    color: lighten($danger, 15.2%);
    cursor: not-allowed;

    i {
      color: lighten($danger, 15.2%);
    }
  }
}

.s-btn-tertiary-l.danger {
  @extend %base-btn;
  @include tertiary-btn($danger);
  font-size: $btn-l-font-size;

  &:not([disabled]):focus {
    border-radius: 4px;
  }

  &:disabled {
    color: lighten($danger, 10.2%);
    cursor: not-allowed;
    i {
      color: lighten($danger, 10.2%);
    }
  }
}

.s-btn-tertiary-sm.danger {
  @extend %base-btn;
  @include tertiary-btn($danger);

  &:not([disabled]):focus {
    border-radius: 4px;
  }

  &:disabled {
    color: lighten($danger, 15.2%);
    cursor: not-allowed;

    i {
      color: lighten($danger, 15.2%);
    }
  }
}

// Cool

.s-btn-primary.cool {
  @extend %base-btn;
  @include default-btn($cool);
}

.s-btn-primary-l.cool {
  @extend %base-btn;
  @include default-btn($cool);
  font-size: $btn-l-font-size;
}

.s-btn-primary-sm.cool {
  @extend %base-btn;
  @include default-btn($cool);
}

.s-btn-secondary.cool {
  @extend %base-btn;
  @include secondary-btn($cool);

  &:not([disabled]):hover {
    background: lighten($cool, 43%);
    cursor: pointer;
  }
}

.s-btn-secondary-l.cool {
  @extend %base-btn;
  @include secondary-btn($cool);
  font-size: $btn-l-font-size;

  &:not([disabled]):hover {
    background: lighten($cool, 43%);
    cursor: pointer;
  }
}

.s-btn-secondary-sm.cool {
  @extend %base-btn;
  @include secondary-btn($cool);

  &:not([disabled]):hover {
    background: lighten($cool, 43%);
    cursor: pointer;
  }
}

.s-btn-tertiary.cool {
  @extend %base-btn;
  @include tertiary-btn($cool);

  &:not([disabled]):focus {
    border-radius: 4px;
  }
}

.s-btn-tertiary-l.cool {
  @extend %base-btn;
  @include tertiary-btn($cool);
  font-size: $btn-l-font-size;

  &:not([disabled]):focus {
    border-radius: 4px;
  }
}

.s-btn-tertiary-sm.cool {
  @extend %base-btn;
  @include tertiary-btn($cool);

  &:not([disabled]):focus {
    border-radius: 4px;
  }
}


/// Legacy (currently in use) button styles
$button-font-size: 16px !default;
$button-corner-radius: 22px !default;

%s-btn {
  min-width: 100px;
  border-radius: $button-corner-radius;
  font-size: $button-font-size;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: $primary-transition;
  background: $btn-color;
  user-select: none;
  outline: none;

  color: $btn-text-color;
  cursor: pointer;
  border-top: $btn-color;
  border-right: $btn-color;
  border-bottom: $btn-color;
  border-left: $btn-color;
  padding: 0 2rem;
  min-height: 2.5rem;


  &:not([disabled]):hover {
    background: lighten($btn-color, 10%);
    cursor: pointer;
  }

  &:active {
    background: darken($btn-color, 2%);
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.s-btn {
  @extend %s-btn;

  &:focus {
    border-width: 1px;
    border-color: darken($btn-color, 3%);
    box-shadow: 0 0 0 1px $body-bg-color, 0 0 0 3px $btn-color;
  }
}

.s-btn.btn-secondary {
  background: transparent;
  color: $btn-color;
  border: 1px solid $btn-color;
  border-color: $btn-color;

  &:not([disabled]):hover {
    color: $btn-text-color;
    border: 1px solid lighten($btn-color, 10%);
    cursor: pointer;
  }
}

.s-btn.danger {
  background: $danger;
  border:  $danger;
  border-color: $danger;

  &:not([disabled]):hover {
    background: lighten($danger, 10%);
    cursor: pointer;
  }

  &:focus {
    border-color: darken($danger, 3%);
    box-shadow: 0 0 0 1px $body-bg-color, 0 0 0 3px $danger;
  }
}

.s-btn.btn-secondary.danger {
  background: transparent;
  color: $danger;
  border: 1px solid $danger;
  border-color: $danger;

  &:not([disabled]):hover {
    color: $btn-text-color;
    border: 1px solid lighten($danger, 10%);
    cursor: pointer;
  }
}


