@import "mixins";
@import "_variables";

$gray-font-color: #4a4a4a !default;

.c-card {
  width: 300px;
  max-width: 100%;
  height: 300px;
  box-shadow: 3px -2px 12px 4px rgba(0,0,0,.1);
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  margin: 10px;

  @include respond-to('s') {
    max-width: 90%;
  }
}

.card-desc {
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: $gray-font-color;
  margin: 5px;
}

.card-title {
  font-family: $font-family-base;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.card-content {
  flex-direction: column;
  height: 200px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

