@import "_variables";

.container {
  width: 100%;
  display: flex;

  button {
    margin: 6px;
  }
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.main-container {
  width: 100%;
  max-width: $max-content-width;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}
