@import "_variables";

$primary-font-size: 16px !default;
$checkmark-color: $primary-blue !default;
$transition: all 0.3s ease-in-out !default;
$checkbox-size: 25px !default;
$radio-checkbox-size: 22px !default;
$box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2) !default;
$invalid-error-text-color: #dd1144 !default;

$light-theme-elements-bg-color: #FFFFFF !default;
$light-theme-elements-text-color: $gray-700 !default;
$light-theme-elements-border-color: $gray-300 !default;

$dark-theme-elements-bg-color: #1a1a1a !default;
$dark-theme-elements-text-color: #f8f8f8 !default;
$dark-theme-elements-border-color: #000000 !default;

$elements-bg-color: $light-theme-elements-bg-color;
$elements-text-color: $light-theme-elements-text-color;
$elements-border-color: $light-theme-elements-border-color;

$disabled-filed-bk-color: darken($elements-bg-color, 10%);
$checkbox-bg-color: $elements-bg-color;
$checkbox-label-text-color: $elements-text-color;

$radio-checkmark-color: $primary-blue;
$radio-background-color: $light-theme-elements-bg-color;

$input-bg-color: $elements-bg-color;
$input-border-color: $elements-border-color;
$input-text-color: $elements-text-color;
$input-hover-color: $blue-25 !default;
$input-placeholder-color: #d8d8d8 !default; //#4a4a4a


.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  text-align: left;
  font-size: $primary-font-size;
  margin: 5px 0;
  height: $checkbox-size + 3px;
  color: $checkbox-label-text-color;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  }

  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: $checkbox-size;
    width: $checkbox-size;
    border: solid 1px $input-border-color;
    background-color: $checkbox-bg-color;
    border-radius: 3px;
    box-shadow: $box-shadow;
    transition: $transition;

    &:after {
      left: 8px;
      top: 4px;
      width: 7px;
      height: 13px;
      border: solid $checkmark-color;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: $transition;
    }
  }

  &:hover input:not([disabled]) ~ .checkmark {
    transition: $transition;
    background-color: $input-hover-color;
  }

  input:checked ~ .checkmark {
    background-color: $checkbox-bg-color;
    transition: $transition;
  }

  input:focus ~ .checkmark {
    //box-shadow: inset 0 2px 4px 0 $checkmark-color;
    border: solid 1px $checkmark-color;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
  }

  input:checked ~ .checkmark:after {
    opacity: 1;
  }

  input:disabled ~ .checkmark {
    filter: saturate(.01);

    &:hover {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

.checkbox-container.disabled {
  opacity: .6;

  &:hover {
    opacity: .6;
    cursor: not-allowed;
  }

  input {
    cursor: not-allowed;
  }

  .checkmark {
    background-color: $disabled-filed-bk-color;
  }
}

.s-form-group {
  margin: 10px 0;
  text-align: left;
  width: 100%;

  label {
    line-height: 1.88;
    font-size: $primary-font-size;
    color: $input-text-color;
  }

  input, input[type='text'], input[type='password'], input[type='url'], input[type='email'], input[type='search'], textarea {
    background-color: $input-bg-color;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    color: $input-text-color;
    display: block;
    padding: 15px;
    width: 100%;
    font-size: $primary-font-size;
    height: 40px;

    &:focus {
      border-color: $checkmark-color;
      outline: none;
    }

    &:hover:not([disabled]) {
      background-color: $input-hover-color;
    }


    &::-webkit-input-placeholder {
      opacity: .5;
    }

    &::-moz-placeholder {
      opacity: .5;
    }

    &:-ms-input-placeholder {
      opacity: .5;
    }

    &:-moz-placeholder {
      opacity: .5;
    }
  }

  input:focus:invalid {
    border-color: $invalid-error-text-color;
  }

  input + .invalid-field-text {
    visibility: hidden;
  }

  input:focus:invalid + .invalid-field-text {
    visibility: initial;
    margin: 5px 0;
    color: $invalid-error-text-color;
    font-size: 13px;
  }

  input[type="search" i] {
    padding: 1px 5px 1px 15px;
  }
}

textarea {
  min-height: 140px;
}


.s-form-group.disabled {
  opacity: .6;

  input, input[type='text'], input[type='password'], input[type='url'], input[type='email'], textarea, select {
    background-color: $disabled-filed-bk-color;
  }

  select {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23c1c1c1%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M6%209l6%206%206-6%22%2F%3E%3C%2Fsvg%3E);
    cursor: default;
  }
}

.s-form-group.invalid {
  .text-input {
    border-color: $invalid-error-text-color;
  }
}

.error-message {
  font-size: 13px;
  color: $invalid-error-text-color;
  padding: 5px 0;
}

.checkbox-container.invalid {
  color: $invalid-error-text-color;
}

/* Customize the label (the container) */
.radio-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin: 5px 0;
  cursor: pointer;
  font-size: $primary-font-size;
  user-select: none;
  height: $checkbox-size + 3px;
  transition: $transition;
  color: $elements-text-color;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: $radio-checkbox-size;
    width: $radio-checkbox-size;
    border-radius: 50%;
    box-shadow: $box-shadow;
    border: solid 1px $input-border-color;
    background-color: $radio-background-color;
    transition: $transition;
  }

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: 1;
  }

  input:focus ~ .checkmark {
    border: $radio-checkmark-color solid 1px;
  }

  input:hover:not([disabled]) ~ .checkmark {
    transition: $transition;
    background-color: $input-hover-color
  }

  .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
  }

  input:checked ~ .checkmark:after {
    opacity: 1;
    transition: $transition;
  }

  .checkmark:after {
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $radio-checkmark-color;
  }

  input:disabled ~ .checkmark {
    filter: saturate(.01);

    &:hover {
      cursor: not-allowed;
      opacity: 1;
    }
  }

}

.radio-container.disabled {
  opacity: .6;

  &:hover {
    opacity: .6;
    cursor: not-allowed;
  }

  input {
    cursor: not-allowed;
  }

  .checkmark {
    background-color: $disabled-filed-bk-color;
  }
}

.dropdown-label {
  width: 122px;
  height: 30px;
  font-size: $primary-font-size;
  font-family: $font-family-base;
  line-height: 1.88;
  letter-spacing: normal;
  color: var(--black);
}

.dropdown {
  display: block;
  color: $input-text-color;
  cursor: pointer;
  font-size: $primary-font-size;
  height: 40px;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $input-border-color;
  box-shadow: $box-shadow;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $input-bg-color;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23189c00%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M6%209l6%206%206-6%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat, repeat;
  background-position: right .5em top 50%, 0 0;
  background-size: 1.4em auto, 100%;
  transition: $transition;

  &:focus:invalid {
    color: $input-placeholder-color;
    border-color: $invalid-error-text-color;
  }

  &:focus {
    outline: none;
    border-color: $checkmark-color;
  }

  &:hover {
    background-color: $input-hover-color;
  }

  &:disabled {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23189c00%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M6%209l6%206%206-6%22%2F%3E%3C%2Fsvg%3E);
  }

  &::-webkit-input-placeholder {
    opacity: .5;
  }

  &::-moz-placeholder {
    opacity: .5;
  }

  &:-ms-input-placeholder {
    opacity: .5;
  }

  &:-moz-placeholder {
    opacity: .5;
  }

  option {
    color: $input-text-color;
    background-color: $input-bg-color;
  }

  option[value=""][disabled] {
    display: none;
  }
}

.invalid-form-group {
  color: $invalid-error-text-color;

  input {
    border-color: $invalid-error-text-color;
  }
}

// HTML5 validation for submitted forms

form.form-submitted {
  .dropdown {
    &:invalid {
      border-color: $invalid-error-text-color;
    }
  }

  .s-form-group {
    input {
      &:invalid {
        border-color: $invalid-error-text-color;
      }
    }

    input:invalid + .invalid-field-text {
      visibility: initial;
      margin: 5px 0;
      color: $invalid-error-text-color;
      font-size: 13px;
    }
  }
}
