.flex-row {
  flex: 0 0 100%;
  display: flex;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-x-center {
  align-items: center;
}

.flex-wrap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.flex-space-around {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
}
