@import "variables";

$table-header-bg-color: $gray-50 !default;
$primary-font-color: $gray-500 !default;
$gray-font-color: #908f8f !default;
$dark-gray-font-color: #666666 !default;
$gray-row-bg-color: #f5f5f5 !default;
$table-border-color: $gray-400 !default;

.s-table {
  color: $gray-700;
  border: 0;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  min-width: 400px;

  font-size: 16px;
  font-weight: 400;
  line-height: 130%;

  .no-right-border {
    border-right: none;
  }

  .no-left-border {
    border-left: none;
  }

  thead {
    th {
      height: 48px;
      text-align: left;
      color: $gray-500;
      background: $table-header-bg-color;

      font-size: 14px;
      font-weight: 400;
      line-height: 16px;

      &:hover, &:focus {
        border-bottom: 1px solid $blue-700;

        i {
          color: $blue-700;
        }
      }

      &:active {
        color: $primary-blue;
      }
    }
  }

  td {
    text-align: left;
  }


  tr {
    &:hover {
      background-color: $blue-25;
    }

    td, th {
      padding: 0 12px;
      box-sizing: border-box;
    }

    th {
      position: relative;
    }

    td {
      height: 49px;
      border: 1px solid $table-border-color;
      border-right: none;
      border-left: none;
    }
  }
}




