@import "_variables";

//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


// OR USE as Local
//@font-face {
//  font-family: 'Roboto';
//  src: url('/dist/fonts/Roboto-Regular.ttf') format('truetype');
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Roboto';
//  src: url('/dist/fonts/Roboto-Medium.ttf') format('truetype');
//  font-style: normal;
//  font-weight: 500;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Roboto';
//  src: url('/dist/fonts/Roboto-Bold.ttf') format('truetype');
//  font-style: normal;
//  font-weight: 700;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Roboto';
//  src: url('/dist/fonts/Roboto-Black.ttf') format('truetype');
//  font-style: normal;
//  font-weight: 900;
//  font-display: swap;
//}

// Titles

.s-h1, .s-h2, .s-h3, .s-h4 {
  font-family: $font-family-base;
}

.s-h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.02em;
}

.s-h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.02em;
}

.s-h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.01em;
}

.s-h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

//Body texts

.s-body-big, .s-body-medium, .s-body, .s-body-small, .s-pre-title, .s-label, .s-link {
  font-family: $font-family-base;
}

.s-body-big {
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
}

.s-body-medium {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.s-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.s-body-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.s-pre-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-variant: all-small-caps;
}

.s-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.s-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.s-font-medium {
  font-weight: 500;
}

.s-font-bold {
  font-weight: 700;
}
