@import "_colors";

$primary-blue: #662D91 !default;
$boku-orange: #FF671D !default;
$boku-black: #222222 !default;

  // Buttons
$btn-color: $primary-blue !default;
$danger: $red-400 !default;
$cool: $teal-400 !default;
$btn-text-color: #FFFFFF !default;

// default (medium size button)
$btn-corner-radius: 4px !default;
$btn-padding: 10px 12px !default;
$btn-height: 36px !default;
$btn-font-size: 14px !default;
$btn-line-height: 16px !default;
$btn-icon-size: 16px !default;

// large size buttons
$btn-l-corner-radius: 6px !default;
$btn-l-padding: 14px 16px !default;
$btn-l-height: 48px !default;
$btn-l-font-size: 16px !default;
$btn-l-line-height: 20px !default;
$btn-l-icon-size: 20px !default;

// small buttons
$btn-sm-corner-radius: 4px !default;
$btn-sm-padding: 8px 8px !default;
$btn-sm-height: 32px !default;
$btn-sm-font-size: 14px !default;
$btn-sm-line-height: 16px !default;
$btn-sm-icon-size: 14px !default;

 //Typography
$font-family-base: 'Roboto', sans-serif !default;
$body-link-color: $primary-blue !default;

$link-color: #189c00 !default;
$primary-font-color: #000 !default;
$gray-font-color: #d8d8d8 !default;

$form-bg-color: #ffffff !default;
$body-bg-color: #FFFFFF !default;
$body-text-color: #FFFFFF !default;
$gray-sub-title: #908f8f !default;

// Breakpoints
$breakpoints: (
        'xs': 360px,
        's': 480px,
        'ms': 800px,
        'm': 980px,
        'ml': 1170px,
        'l': 1280px,
        'xl': 1600px,
) !default;

// Transitions

$primary-transition: all 250ms ease-in-out !default;

// Layout
$max-content-width: 1220px !default;

//animations
$main-transition: all .3s ease-in-out;
