@import "_variables";
@import "_buttons";
@import "_forms";
@import "_cards";
@import "_table";
@import "_typography";
@import "_grid";


a.s-link {
  cursor: pointer;

  &:hover {
    opacity: .66;
    transition: $primary-transition;
  }

  &:active {
    opacity: 1;
    transition: $primary-transition;
    outline: none;
  }

  &:focus {
    outline: none;
    opacity: .8;
  }
}
